<!DOCTYPE htmls>
<html>
        <head>
            <link rel="stylesheet" href="./css/styles.css"/>
            <link rel="icon" href="./img/weather.png">
            <title>Error page</title>
        </head>
        <body>
            <div class="main-content"></div>
                {{>header}}

                <h1>Page not found</h1>
                {{errorMessage}}
            </div>
            
            {{>footer}}
        </body>
</html>