<!DOCTYPE htmls>
<html>
        <head>
            <link rel="stylesheet" href="./css/styles.css">
            <link rel="icon" href="./img/weather.png">      
            <title>About</title>    
        </head>
        <body>
            <div class="pageContent">
                {{>forecast}}
                <div class="main-content">
                    {{>header}} 
                    <div class="content">
                        <img src="./img/Antyradio.jpeg"/>   
                    </div>                                        
                    {{>footer}}        
                </div>   
                {{>calendar}} 
            </div>
        </body>
</html>