<!DOCTYPE htmls>
<html>
        <head>
            <link rel="stylesheet" href="./css/styles.css">
            <link rel="icon" href="./img/weather.png">      
            <title>About</title>    
        </head>
        <body>
            {{>header}} 
            <div class="main-content">
                {{>menu}}
                <div class="content">
                    <img src="./img/Antyradio.jpeg"/>   
                </div>                                        
                        
                {{>calendar}}
            </div>   
            {{>footer}}    
         </body>
</html>