<!DOCTYPE htmls>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="icon" href="./img/weather.png">
        
        <title>Login Page</title>
    </head>
    <body>
        This is login page.
        <form id="loginForm">
            <p>Login</p>
            <input id="login">
            <p>Password</p>
            <input id="password">
            <button>Login</button>
        </form>
        <div id="errorMessage"></div>
        <script src="./js/login.js"></script>
    </body>
</html>