<!DOCTYPE htmls>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="icon" href="./img/weather.png">
        
        <title>Login Page</title>
    </head>
    <body>
        This is login page.
        <form id="loginForm">
            <p>Login</p>
            <input type = 'email' id="login" required>
            <p>Password</p>
            <input id="password"  required minlength="8">
            <button>Login</button>
        </form>
        <div id="errorMessage"></div>
        <button>
            <a href="/registerUser"> Don`t have account? Register.</a> 
        </button>
        <script src="./js/login.js"></script>
    </body>
</html>