<html>
  <head>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="icon" href="./img/weather.png" />

    <title>Login Page</title>
  </head>
  <body>
    <div class="panel">

      <div class="leftPanel">
        This is login page.
        <form id="loginForm">
          <p>Login</p>
          <input type="email" id="login" required />
          <p>Password</p>
          <input id="password" required minlength="8" />
          <p></p>
          <button>Login</button>
        </form>
        <div id="errorMessage"></div>
        <button>
          <a href="/registerUser"> Don`t have account? Register.</a>
        </button>
      </div>
      <div class="middlePanel"></div>
      <div class="rightPanel">

      </div>
    </div>

    <script src="./js/login.js"></script>
  </body>
</html>