<!DOCTYPE htmls>
<html>
    <head>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="icon" href="./img/weather.png">
        
        <title>Login Page</title>
    </head>
    <body>
        This is login page.
        <form id="registerForm">
            <p>User name</p>
            <input id="name">
            <p>Login</p>
            <input id="login">
            <p>Password</p>
            <input id="password">
            <button>Register</button>
        </form>
        <div id="errorMessage"></div>
        <button>
            <a href="/"> Already have account? Go to login.</a> 
        </button>
        <script src="./js/register.js"></script>
    </body>
</html>