<div class="menu">
    <p id="menuForecast">Weather forecast</p>
    <p id="place"></p>
    <p>Weather:</p>
    It`s <p id="typeOfWeather"></p>
    Temperature: <p id="temp"></p>
    Feels like: <p id="feelsLike"></p>
    Temp min: <p id="tempMin"></p>
    Temp max: <p id="tempMax"></p>
    Pressure: <p id="pressure"></p>
    Humidity: <p id="humidity"></p>
    Visibility: <p id="visibility"></p>
    Wind speed: <p id="windSpeed"></p>
    Sunrise: <p id="sunrise"></p>
    Sunset: <p id="sunset"></p>

</div>