<div class="menu">
    <div id="forecasts">
        <p data-name="menuForecast">Weather forecast</p>
        <p data-name="place"></p>
        <p>Weather:</p>
        It`s <p data-name="typeOfWeather"></p>
        Temperature: <p data-name="temp"></p>
        Feels like: <p data-name="feelsLike"></p>
        Temp min: <p data-name="tempMin"></p>
        Temp max: <p data-name="tempMax"></p>
        Pressure: <p data-name="pressure"></p>
        Humidity: <p data-name="humidity"></p>
        Visibility: <p data-name="visibility"></p>
        Wind speed: <p data-name="windSpeed"></p>
        Sunrise: <p data-name="sunrise"></p>
        Sunset: <p data-name="sunset"></p>
    </div>   
</div>