<header>
    <h1>{{title}}</h1>
    <div id="navigation">
        <a href ="/index">Weather</a>
        <a href ="/about">About</a>
        <a href ="/help">Help</a>
        <a href ="/test">Test</a>
        <a href ="/testPartial">test partial </a>
    </div>
</header>
<script src="./js/addAuthHeader.js"></script>