<header>
  <h1>
    <div class="top">
      {{title}}
      <button id="logout" class="logout">Logout</button>
    </div>
  </h1>
  <div id="navigation" class="links">
    <a href="/index">Home </a>
    <a href="/about">About</a>
    <a href="/notesList">Notes</a>
    <a href="/profile">Profile</a>

  </div>
</header>
<script src="./js/header.js"></script>