<!DOCTYPE htmls>
<html>
        <head>
            <link rel="stylesheet" href="./css/styles.css"/>
        </head>
        <body>
            {{msg}}
            {{msg2}}
        </body>
</html>