* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    font-size: 14px;
    color: #343a40;
}

body {
    background-color: #ced4da;
}

header {
    border-bottom: 5px solid #1c7ed6;
    height: 100px;
    position: relative;
}

footer {
    background-color: #ced4da;
    border-top: 5px solid #1c7ed6;
    height: 80px;
}

p {
    margin-top: 10px;
}

.pageContent{
    display: grid;
    grid-template-columns:  300px 1fr 300px;
    gap: 12px;
    height: 100%;
}
.main-content {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 12px;
}

.menu{
    background-color: #ced4da;
}
.calendar{
    background-color: #ced4da;
}


input {
    border: 1px solid #ced4da;
    padding: 8px;
    margin-top: 10px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #1c7ed6;
    color: white;
    padding: 8px;
    margin-top: 10px;
    border-radius: 12px;
    box-shadow:1px 1px 1px 1px #1864ab;
}

.links{
    display: flex;
    gap: 12px;
    position: absolute;
    bottom: 0px;
}

a:link {
    color: #343a40;
    text-decoration: none;
}

a:visited {
    color: #343a40;
}

a:hover {
    color: #343a40;
    font-weight: bold;
    text-decoration: underline #343a40;
}
.logout{
    width: 100px;
    justify-self: end;
}
.top{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;  
    margin-top: 5px;
    
}
.panel{
    display: grid;
    height: 100%;
    gap: 10px;
    grid-template-columns: 200px 10px 200px;
    grid-template-rows: 1fr;
    justify-content: center;
    align-content: center;
}

.rightPanel{
    margin-top: 300px;
    height: 300px;

}

.middlePanel{
    border-right: 10px solid #1c7ed6;
    height: 1fr;

}

.leftPanel{
    margin-top: 300px;
    height: 300px;

}

.forecast {
    font-size: 14px;
    background-color: #ced4da;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 12px;
    padding-top: 4px;
    padding-left: 12px;
    padding-bottom: 8px;
    padding-right: 4px;
    box-shadow: 6px 6px 6px 5px #635d5d;
    border-radius: 12px;
}

.forecast p{
    margin-top: 2px;
    margin-bottom: 4px;
}





